header{
    background:black;
    height: 70px;
}
header a{
    color: red;
    text-decoration: none;
    font-style: italic;
}
header #left-nav li{
    float: left;
    display: inline-block;
    margin: 10px;
}
#nm {
    font-family: cursive; font-size: 20px; font-style:italic; 
    color: cornsilk;}
header ul li a{
    transition: 0.6s ease;
    padding:5px 20px;
    font-size: 20px;
   /* border:1px solid #fff;*/ /*used to remove border*/
}
    
header #right-nav{
    float: right;
}
header #right-nav li{
   display: inline-block;
   margin: 10px;
}
header ul li a:hover{
    background-color: rgb(14, 13, 13);
    color: white
}
header ul li.active a{
    background-color:coral;
}
/* footer{
   clear: both;
   background: black;
   margin-top:0.5px;
   text-align: center;
   padding: 10px;
   color:red;
} */