body{
  background-image: url("Images/Background%20Image.jpg");
  background-repeat: repeat-y;
}
header{
    background:black;
    height: 70px;
}
header a{
    color: red;
    text-decoration: none;
}

header ul li a{
    transition: 0.6s ease;
    padding:5px 20px;
   /* border:1px solid #fff;*/ /*used to remove border*/
}
    
header #right-nav{
    float: right;
}
header #right-nav li{
   display: inline-block;
   margin: 10px;
}
header ul li a:hover{
    background-color: rgb(14, 13, 13);
    color: blue
}
header ul li.active a{
    background-color: #fff;
}
/* footer{
   clear: both;
   background: black;
   margin-top:0.5px;
   text-align: center;
   padding: 10px;
   color:red;
} */