body{
  background-image: url("Images/Background%20Image.jpg");
  background-repeat: repeat-y;
  background-attachment:fixed;
}
header{
    background-image:linear-gradient(black,transparent);
    height: 70px;
}
header a{
    color: red;
    text-decoration: none;
}

header ul li a{
    transition: 0.6s ease;
    padding:5px 20px;
   /* border:1px solid #fff;*/ /*used to remove border*/
}

header #right-nav{
    float: right;
}
header #right-nav li{
   display: inline-block;
   margin: 10px;
}
header ul li a:hover{
    background-color:white ;
    transition:background-color 2.0s ease-in-out;

    /* color: blue */
}
header ul li.active a{
    background-color: transparent;
}
a{
  font-family: cursive;
  font-size: 22px;
}
footer{
  width:100%;
   clear: both;
   background-image:linear-gradient(transparent,black,transparent);



   color:red;
}
