*{margin:0;
padding: 0;
}
body{background: url('../2.jpg') no-repeat center fixed;
background-size: cover;}
h2{
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.5);
    padding: 15px;
}
.registration{
    margin:auto;
    width:50%;
    text-align: center;
    color:white;
    background: rgba(0,0,0,0.5);
    border: 2px solid white;
    padding: 15px;
}
#fname{width: 25%;
padding: 5px;
border-radius:5px;
outline: 0;
font-family: serif;
font-size: 18px;
border: 2px solid white;
background: none;
color:white;
 }
#lname{width: 25%;
    padding: 5px;
    border-radius:5px;
    outline: 0;
    font-family: serif;
    font-size: 18px;
    border: 2px solid white;
background: none;
color:white; }
#mail{width: 25%;
    padding: 5px;
    border-radius:5px;
    outline: 0;
    font-family: serif;
    font-size: 18px;
    border: 2px solid white;
    background: none;
    color:white; }
#pname{width: 25%;
        padding: 5px;
        border-radius:5px;
        outline: 0;
        font-family: serif;
        font-size: 18px;
        border: 2px solid white;
        background: none;
        color:white; }
#rpname{width: 30%;
    padding: 5px;
    border-radius:5px;
    outline: 0;
    font-family: serif;
    font-size: 18px;
    border: 2px solid white;
    background: none;
    color:white; }
    #pno{width: 30%;
        padding: 7px 0px;
        border-radius:5px;
        outline: 0;
        font-family: serif;
        font-size: 18px;
        border: 2px solid white;
background: none;
color:white; }
        #num{width: 10%;
            padding: 7px 0px;
            border-radius:5px;
            outline: 0;
            font-family: serif;
            font-size: 18px ;
            border: 2px solid white;
            background: none;
            color:white;
        }
        #check{font-family: serif;
        font-size: 18px;
        }
    #sub{  
        width: 20;
        padding:10px;
        font-family: serif;
        font-size: 18px;
        border: none;
        outline: 0;
        border-radius: 5px;
    
}

.sb{
    transition: 1.0s ease;
}
.sb:hover{
    background-color: blue;
    color: white;
}

::placeholder{
    color:
    white;
}
